input {
    font-size: 8px;
}

input[type=text], select {
  width: 100%;
  padding: 2px 4px;
  margin: 2px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}


input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

div.question_block_container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 2px 10px;
}

h2 {
  padding: 8px 10px;
  border-radius: 5px;
}

div {
  background-color: #f2f2f2;
}
