name: CI

on:
  # run once a day at noon UTC
  schedule:
    - cron: "0 12 * * *"
  push:
  pull_request:
  workflow_dispatch:

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: true
      matrix:
        os: ["ubuntu-latest", "macOS-latest",]
        python-version: ["3.7", "3.8", "3.9"]

    steps:
    - uses: actions/checkout@v2

    - name: Setup python ${{ matrix.py_version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      run: |
        pip install --upgrade setuptools pip
        pip install --upgrade .

        # Test
        pip install pytest pytest-cov pytest-pep8 coverage
        pip install https://github.com/selimsami/qforce_examples/archive/master.zip

    - name: Run test
      run: |
        coverage run $(which pytest) -v
        coverage xml

    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v2
      with:
        name: codecov-${{ matrix.os }}-py${{ matrix.python-version }}
