name: CI

on:
  # run once a day at noon UTC
  schedule:
    - cron: "0 12 * * *"
  push:
  pull_request:
  workflow_dispatch:

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: true
      matrix:
        os: ["ubuntu-latest", "macOS-latest",]
        python-version: ["3.9", "3.10", "3.11"]

    steps:
    - uses: actions/checkout@v2

    # More info on options: https://github.com/conda-incubator/setup-miniconda
    - uses: mamba-org/setup-micromamba@main
      with:
        environment-file: .github/test_env.yaml
        environment-name: test
        create-args: >-
            python=${{ matrix.python-version }}
            pytest=${{ matrix.pytest }}

    - name: Install package

      # conda setup requires this special shell
      shell: bash -l {0}
      run: |
        python -m pip install . --no-deps
    - name: Run tests

      # conda setup requires this special shell
      shell: bash -l {0}

      run: |
        pytest -v --cov=qforce --cov-report=xml --color=yes qforce/tests/
    - name: CodeCov
      uses: codecov/codecov-action@v1
      with:
        file: ./coverage.xml
        flags: unittests
        name: codecov-${{ matrix.os }}-py${{ matrix.python-version }}
